/* *{
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 18px;
} */
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	margin-top: 20px;
}
ul.chs_list_item li{
	padding: 20px 0 0 35px;
	/* margin-left: 20px; */
	position: relative;
	float: left;
	display: inline;
	cursor: pointer;
	opacity: 1;
	transition: opacity 1s;
	color: #FFFFFF;
	font-size: 18px;
}
ul.chs_list_view li{
	width: 100% !important;
}
.chs_list_3team{
	width: 70% !important;
}
.chs_list_2team{
	width: 45% !important;
}

li:nth-child(6).chs_list_3team,
li:nth-child(11).chs_list_3team,
li:nth-child(16).chs_list_3team,
li:nth-child(20).chs_list_3team{
	margin-top: 20px;
}
ul.chs_list_item li.chs_list_3team:before{
	color: green !important;
}
ul.chs_list_view li:before{
	position: absolute;
	top: 20px;
	left: 5px;
	font-family: 'Glyphicons Halflings';
	content:"\f007";
	color: #FFFFFF;
}
ul.chs_list_view li:after{
	position: absolute;
	top: 15px;
	left: 135px;
	font-family: 'Glyphicons Halflings';
	content:"\e258";
	font-size: 150%;
}
ul.chs_list_item.select li:before{
	font-family: 'Glyphicons Halflings';
	content:"\e132";
	color: #09B2B2;
}
ul.chs_list_item li:before{
	position: absolute;
	top: 19px;
	left: 0px;
	font-family: 'Glyphicons Halflings';
	content:"\e131";
	color: #FFFFFF;
	font-size: 120%;
}
.chs_headline{
	margin: 0 0 20px 0  ;
	padding: 10px 0;
	width: 100%;
	height: auto;
	background-color: #162E58;
	background-color: rgba(22, 46, 88, 0.3);
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
}
.btn-danger{
	background-color: rgba(22, 46, 88, 0.8) !important;
	border-color: #162E58 !important;
}
#chs_list_view{
	display:block;
	float: left;
	width: 100%;
	height: auto;
}
#chs_player_total{
	font-size: 25px;
	color: #FFFFFF;
	font-weight: lighter;
	padding: 0px;
}
.chs_bg{
	background-image:url(chs_bg.jpg);
	background-size: cover;
	background-position: 200px left;
	background-repeat: no-repeat;
}
.chs_logo{
	position: absolute;
	bottom: 30px; right: 30px;
	width: auto;
	height: 30px;
}
.chs_box_datetime{
	background-color: #db0011;
	padding: 5px 10px;
	color: #FFFFFF;
}
.modal-content{
	background-color: inherit !important;
}
.chs_popup_bg{
	background-image: url(images/background.jpg);
	text-align: center;
	color: #FFFFFF;
	font-size: 300%;
	border-radius: 5px;
	padding-bottom: 30px !important;
}
#chs_popup_img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
p#chs_popup_content{
	padding: 30px 0px;
	margin: 0px;
}
.modal-content{
	margin: 30% 15px 0 auto !important;
}
body{

	background-image: url(images/background.jpg);
	background-color: inherit;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}
.chs_title_select{
	width: 100%;
	text-align: center;
	font-size: 25px;
	/* font-weight: lighter; */
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 30px;

}
#chs_list_select{
	width: 100%;
	height: auto;
	padding: 0 0 20px 0;
	/* margin-top: 20px; */
}
.chs_btn{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}
.btn {
  padding: 10px 20px !important;
}
.chs_btn button{
	background-color: rgba(199, 0, 57, 0.8) !important;
	border: none !important;
}
